.mstheme
{
	separator-image: url(apixrule.gif);
	list-image-1: url(apixbul1.gif);
	list-image-2: url(apixbul2.gif);
	list-image-3: url(apixbul3.gif);
	nav-banner-image: url(pixbanr.gif);
	navbutton-horiz-normal: url(apixhbtn.gif);
	navbutton-horiz-hovered: url(apixhhov.gif);
	navbutton-horiz-pushed: url(apixhsel.gif);
	navbutton-vert-normal: url(apixvbtn.gif);
	navbutton-vert-hovered: url(apixvhov.gif);
	navbutton-vert-pushed: url(apixvsel.gif);
	navbutton-home-normal: url(apixhom.gif);
	navbutton-home-hovered: url(apixhomh.gif);
	navbutton-home-pushed: url(blhomep.gif);
	navbutton-next-normal: url(apixnxt.gif);
	navbutton-next-hovered: url(apixnxth.gif);
	navbutton-next-pushed: url(blnextp.gif);
	navbutton-prev-normal: url(apixbck.gif);
	navbutton-prev-hovered: url(apixbckh.gif);
	navbutton-prev-pushed: url(blprevp.gif);
	navbutton-up-normal: url(apixup.gif);
	navbutton-up-hovered: url(apixuph.gif);
	navbutton-up-pushed: url(blupp.gif);
}
.mstheme-bannertxt
{
	font-family: arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url('apixbul1.gif');
}
ul ul
{
	list-style-image: url('apixbul2.gif');
}
ul ul ul
{
	list-style-image: url('apixbul3.gif');
}
a:link
{
	color: rgb(102, 102, 204);
}
a:active
{
	color: rgb(102, 51, 51);
}
a:visited
{
	color: rgb(153, 153, 153);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(153, 153, 153);
	table-border-color-dark: rgb(153, 153, 153);
	border-color: rgb(153, 153, 153);
}
th
{
	border-color: rgb(153, 153, 153);
}
td
{
	border-color: rgb(153, 153, 153);
}
h1
{
	color: rgb(0, 0, 0);
}
h2
{
	color: rgb(0, 0, 0);
}
h3
{
	color: rgb(0, 0, 0);
}
h4
{
	color: rgb(0, 0, 0);
}
h5
{
	color: rgb(0, 0, 0);
}
h6
{
	color: rgb(0, 0, 0);
}
hr
{
}
button
{
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 0, 0);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(0, 0, 0);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(0, 0, 0);
}
.mstheme-bannertxt a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-bannertxt a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-bannertxt a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-bannertxt-g
{
	font-family: arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-bannertxt-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-bannertxt-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-bannertxt-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-bannertxt-s
{
	font-family: arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-bannertxt-s a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-bannertxt-s a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-bannertxt-s a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-horiz-navtxt a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-horiz-navtxt a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-horiz-navtxt a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-horiz-navtxt-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-horiz-navtxt-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-horiz-navtxt-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-horiz-navtxt-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt-gs a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-horiz-navtxt-gs a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-horiz-navtxt-gs a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxthome a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxthome a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxthome a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxthome-g
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxthome-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxthome-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxthome-gs
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome-gs a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxthome-gs a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxthome-gs a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtnext a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtnext a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtnext a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtnext-g
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtnext-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtnext-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtnext-gs
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext-gs a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtnext-gs a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtnext-gs a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtprev a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtprev a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtprev a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtprev-g
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtprev-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtprev-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtprev-gs
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev-gs a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtprev-gs a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtprev-gs a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtup a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtup a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtup a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtup-g
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtup-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtup-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-navtxtup-gs
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup-gs a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-navtxtup-gs a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-navtxtup-gs a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-topbar-font a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-topbar-font a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-topbar-font a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-topbar-font-g
{
	font-family: arial, Arial, Helvetica;
	color: rgb(0,0,0);
	font-size: 8pt;
}
.mstheme-topbar-font-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-topbar-font-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-topbar-font-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-vert-navtxt a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-vert-navtxt a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-vert-navtxt a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-vert-navtxt-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt-g a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-vert-navtxt-g a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-vert-navtxt-g a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-vert-navtxt-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt-gs a:link
{
	color: rgb(0, 0, 255);
}
.mstheme-vert-navtxt-gs a:active
{
	color: rgb(0, 102, 102);
}
.mstheme-vert-navtxt-gs a:visited
{
	color: rgb(102, 51, 102);
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.ms-addnew
{
	font-weight: normal;
	font-size: .68em;
	text-decoration: none;
	font-family: Arial, sans-serif;
	color: #6666cc;
}
.ms-announcementtitle
{
	font-weight: normal;
}
.ms-appt
{
	height: 18px;
	border-bottom-width: 2px;
	border-left-style: solid;
	border-bottom-color: #000099;
	background-color: #ccccff;
	border-left-color: #000099;
	overflow: hidden;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-width: 2px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 2px;
	border-right-color: #000099;
	border-top-color: #000099;
	font-size: 8pt;
	color: black;
	border-left-width: 2px;
	border-right-style: solid;
}
.ms-appt a
{
	color: #000000;
}
.ms-appt a:hover
{
	color: red;
}
.ms-authoringcontrols
{
	font-family: Arial, sans-serif;
	font-size: 9pt;
	background-color: #f2f2f2;
	color: #000000;
}
.ms-banner
{
	font-family: Arial, sans-serif;
	color: #ffffff;
	font-size: 9pt;
}
.ms-banner a:link
{
	color: #ffffff;
	text-decoration: none;
	font-size: 9pt;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.ms-banner a:visited
{
	font-size: 9pt;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: #ffffff;
	font-weight: normal;
}
.ms-bannerframe
{
	border-bottom:4px solid #ccccff; background-color: #000099;
	
}
.ms-cal
{
	border-collapse: collapse;
	table-layout: fixed;
	cursor: default;
	font-family: Arial, sans-serif;
}
.ms-calbot
{
	border-left-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	height: 2px;
	border-right-color: black;
	border-top-style: none;
	border-left-width: 1px;
	border-bottom-color: black;
	border-left-color: black;
	border-top-width: medium;
	border-right-style: solid;
	border-bottom-style: solid;
}
.ms-caldow
{
	border-left-width: 1px;
	border-right-style: solid;
	border-left-color: black;
	border-top-style: solid;
	font-size: 10pt;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	text-align: center;
	height: 20px;
	border-left-style: solid;
	border-right-color: black;
	border-top-width: 1px;
	border-top-color: black;
}
.ms-caldowdown
{
	vertical-align: middle;
	font-family: Arial, sans-serif;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.ms-caldown
{
	vertical-align: top;
	font-size: 8pt;
	color: #000000;
	text-align: left;
}
.ms-calhead
{
	border-bottom-width: medium;
	font-size: 16pt;
	border-top-width: medium;
	padding-bottom: 2px;
	border-right-style: none;
	padding-top: 2px;
	color: #ffffff;
	padding-right: 2px;
	background-color: #000099;
	border-bottom-style: none;
	border-right-width: medium;
	border-left-style: none;
	font-family: Arial, sans-serif;
	padding-left: 2px;
	text-align: center;
	border-top-style: none;
	border-left-width: medium;
}
.ms-calmid
{
	height: 20px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-color: black;
	border-left-width: 1px;
	border-left-color: black;
}
.ms-calspacer
{
	border-left-width: 1px;
	border-left-color: black;
	border-right-style: solid;
	height: 4px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-color: black;
}
.ms-caltop
{
	border-top-style: solid;
	border-left-width: 1px;
	border-left-color: black;
	width: 14%;
	border-top-color: black;
	border-right-width: 1px;
	border-right-color: black;
	border-left-style: solid;
	height: 30px;
	font-size: 10pt;
	border-right-style: solid;
	vertical-align: top;
	border-top-width: 1px;
}
.ms-datepicker
{
	border:2px outset activeborder; background-color: #ffffff;
	cursor: default;
	font-family: Arial, sans-serif;
	
}
.ms-datepickeriframe
{
	background-attachment: scroll;
	background-position-x: 0%;
	background-position-y: 50%;
	display: none;
	position: absolute;
	background-repeat: repeat;
	background-color: white;
}
.ms-descriptiontext
{
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 9pt;
}
.ms-descriptiontext a
{
	color: #6666cc;
	font-family: Arial, sans-serif;
	font-size: 9pt;
}
.ms-discussiontitle
{
	font-weight: bold;
	color: #000099;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}
.ms-dpday
{
	border-top-style: none;
	border-top-width: medium;
	border-left-style: none;
	border-bottom-width: medium;
	border-right-width: medium;
	font-size: 8pt;
	border-left-width: medium;
	text-align: center;
	border-bottom-style: none;
	border-right-style: none;
}
.ms-dpdow
{
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-right-width: medium;
	font-size: 8pt;
	font-weight: bold;
	border-left-style: none;
	vertical-align: top;
	border-bottom-style: solid;
	border-top-style: none;
	border-left-width: medium;
	text-align: center;
	border-right-style: none;
	border-top-width: medium;
}
.ms-dpfoot
{
	border-top-style: solid;
	text-align: center;
	border-left-width: medium;
	border-right-width: medium;
	font-size: 8pt;
	border-bottom-width: medium;
	border-left-style: none;
	border-right-style: none;
	height: 24px;
	border-bottom-style: none;
	font-style: italic;
	border-top-width: 1px;
}
.ms-dphead
{
	border-bottom-style: none;
	border-top-width: medium;
	background-color: #000099;
	border-left-style: none;
	border-right-style: none;
	font-weight: bold;
	color: #ffffff;
	border-top-style: none;
	border-left-width: medium;
	text-align: center;
	border-right-width: medium;
	border-bottom-width: medium;
	font-size: 8pt;
}
.ms-dpnonmonth
{
	border-top-width: medium;
	border-bottom-style: none;
	font-size: 8pt;
	color: gray;
	border-bottom-width: medium;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-width: medium;
	border-right-width: medium;
	text-align: center;
}
.ms-dpselectedday
{
	border-top-style: none;
	border-left-width: medium;
	border-right-width: medium;
	border-top-width: medium;
	text-align: center;
	border-bottom-style: none;
	font-size: 8pt;
	background-color: #ccccff;
	border-left-style: none;
	border-right-style: none;
	border-bottom-width: medium;
}
.ms-filedialog td
{
	height: 16px;
}
.ms-formbody
{
	text-align: left;
	font-size: 9pt;
	font-family: Arial, sans-serif;
}
.ms-formdescription
{
	font-size: 9pt;
	font-family: Arial, sans-serif;
	color: #000000;
}
.ms-formdescription a
{
	text-decoration: underline;
	color: #6666cc;
}
.ms-formlabel
{
	color: #000000;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.ms-homepagetitle
{
	text-decoration: none;
	color: #000099;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 11pt;
}
:hover.ms-homepagetitle
{
	text-decoration: underline;
	color: #000099;
}
.ms-input
{
	vertical-align: baseline;
	font-family: Arial, sans-serif;
	font-size: 9pt;
}
.ms-itemheader a
{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: #6666cc;
}
.ms-itemheader a:hover
{
	text-decoration: underline;
	color: #006666;
}
.ms-itemheader a:visited
{
	color: #663366;
	text-decoration: none;
}
.ms-long
{
	font-family: Arial, sans-serif;
	width: 300px;
	font-size: 9pt;
}
.ms-main
{
	border-right:0px solid #ffffff; 
}
.ms-nav a
{
	font-size: 9pt;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #6666cc;
}
.ms-nav a:hover
{
	text-decoration: underline;
	color: #006666;
}
.ms-nav a:visited
{
	color: #663366;
}
.ms-nav td
{
	font-weight: normal;
	font-size: 9pt;
	font-family: Arial, sans-serif;
	color: #000000;
}
.ms-nav th
{
	text-align: left;
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #000000;
	font-size: 9pt;
}
.ms-navframe
{
	border-left:4px solid #ccccff; 
}
.ms-pagetitle
{
	color: #000099;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 14pt;
}
.ms-pagetitle a
{
	text-decoration: underline;
	color: #000099;
}
.ms-pagetitle a:hover
{
	text-decoration: underline;
	color: #000099;
}
.ms-propertysheet
{
	font-size: 9pt;
	font-family: Arial, sans-serif;
}
.ms-propertysheet a
{
	color: #6666cc;
	text-decoration: none;
}
.ms-propertysheet a:hover
{
	color: #006666;
	text-decoration: underline;
}
.ms-propertysheet a:visited
{
	color: #663366;
	text-decoration: none;
}
.ms-propertysheet th
{
	font-size: 9pt;
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #000000;
}
.ms-radiotext
{
	text-align: left;
	font-size: 10pt;
	font-family: Arial, sans-serif;
	cursor: default;
	height: 19px;
}
.ms-searchbox
{
	width: 100%;
}
.ms-sectionheader
{
	font-family: Arial, sans-serif;
	color: #660033;
	font-size: 10pt;
}
.ms-sectionline
{
	background-color: #000099;
	height: 1px;
}
.ms-selected
{
	color: #666666;
	background-color: #ccccff;
}
.ms-selected span
{
	color: #666666;
}
.ms-separator
{
	font-size: 10pt;
	color: #000099;
}
.ms-titlearea
{
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 9pt;
}
.ms-titleareaframe
{
	border-left:4px solid #ccccff; color: #000099;
	
}
.ms-toolbar
{
	font-size: 9pt;
	text-decoration: none;
	color: #000099;
	font-family: Arial, sans-serif;
}
.ms-vb
{
	font-family: Arial, sans-serif;
	height: 18px;
	font-size: 9pt;
	vertical-align: top;
}
.ms-vb a
{
	text-decoration: none;
	color: #6666cc;
}
.ms-vb a:hover
{
	color: #006666;
	text-decoration: underline;
}
.ms-vb a:visited
{
	text-decoration: none;
	color: #663366;
}
.ms-verticaldots
{
	background-position: right 50%; background-repeat: repeat-y;
	background-image: url('bluedot.gif');
}
.ms-vh
{
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: #000099;
	text-align: left;
	font-weight: normal;
	font-size: 9pt;
}
.ms-vh a
{
	color: #6666cc;
	text-decoration: none;
}
.ms-vh a:hover
{
	text-decoration: underline;
}
.ms-viewselect a:link
{
	font-family: Arial, sans-serif;
	font-size: 9pt;
	color: #6666cc;
}
.ms-wvsel
{
	color: #3366cc;
}
.mstheme
{
	top-bar-button: url(pixglobl.gif);
	navbutton-background-color: rgb(255,255,255);
}
.mstheme-topbar-font
{
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: arial, Arial, Helvetica;
}
body
{
	margin-bottom: 6 px;
	font-family: Verdana;
	text-align: left;
	margin-top: 6 px;
	line-height: 100%;
	font-size: 10pt
}
button
{
	border-top-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	font-size: 8pt;
	border-bottom-width: 1pt;
	border-right-width: 1pt;
	border-left-style: solid;
	font-style: normal;
	border-bottom-style: solid;
	border-top-width: 1pt;
	font-family: arial, Arial, Helvetica;
}
caption
{
	font-style: normal;
	font-family: arial, Arial, Helvetica;
	font-size: 14pt;
}
fieldset
{
	border-top-width: 1pt;
	font-style: normal;
	border-bottom-style: solid;
	border-left-style: solid;
	font-size: 8pt;
	border-right-style: solid;
	border-bottom-width: 1pt;
	font-family: arial, Arial, Helvetica;
	border-left-width: 1pt;
	border-right-width: 1pt;
	border-top-style: solid;
}
h1
{
	line-height: 100%;
	margin-top: 6 px;
	font-family: arial, Arial, Helvetica;
	margin-bottom: 12 px;
	font-weight: bold;
	text-align: Center;
	font-size: 18pt;
}
h2
{
	font-weight: bold;
	margin-bottom: 12 px;
	text-align: Center;
	margin-top: 6 px;
	font-size: 12pt;
	font-family: arial, Arial, Helvetica;
}
h3
{
	line-height: 100%;
	margin-top: 18 px;
	font-weight: bold;
	margin-bottom: 6 px;
	text-align: Left;
	font-family: arial, Arial, Helvetica;
	font-size: 14pt;
}
h4
{
	font-weight: bold;
	font-size: 12pt;
	text-align: Left;
	margin-bottom: 6 px;
	line-height: 100%;
	margin-top: 12 px;
	font-family: arial, Arial, Helvetica;
}
h5
{
	font-weight: bold;
	text-align: Left;
	font-size: 10pt;
	margin-bottom: 6.px;
	margin-top: 6 px;
	font-family: arial, Arial, Helvetica;
}
h6
{
	font-weight: bold;
	font-size: 8pt;
	font-family: arial, Arial, Helvetica;
}
img.ms-button
{
	cursor: hand;
}
label
{
	font-style: normal;
	font-size: 8pt;
	font-family: arial, Arial, Helvetica;
}
label, .mstheme-label
{
	font-size: 8pt;
	font-style: normal;
	font-family: arial, Arial, Helvetica;
}
legend
{
	font-style: normal;
	font-size: 8pt;
	font-family: arial, Arial, Helvetica;
}
marquee
{
	font-family: arial, Arial, Helvetica;
	font-size: 14pt;
}
select
{
	border-style:solid; font-family: arial, Arial, Helvetica;
	font-style: normal;
	font-size: 8pt;
	
}
table
{
	font-style: normal;
	font-size: 10pt;
	font-family: Arial;
}
textarea
{
	border-style:solid; font-size: 8pt;
	font-family: arial, Arial, Helvetica;
	font-style: normal;
	
}
th
{
	font-family: arial, Arial, Helvetica;
	font-style: normal;
}
