Code/SmartPlayer/SmartPlayer/bin
Code/SmartPlayer/SmartPlayer/obj
Code/SmartPlayer/.vs/SmartPlayer/v14/.suo
Code/SmartPlayer/SmartPlayer.sln
Code/SmartPlayer/SmartPlayer/libpxccpp2c.dll
Code/SmartPlayer/SmartPlayer/libpxcclr.cs.dll
