<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="RecordPath" value="H:\\2017.2.18(1,2,3,5,6,9,11,13,15)\\2\\SmartPlayer Data\\bb911879-3f10-49d2-b7ac-b04562fa51d2\\record.rssdk"/>
  </appSettings>
</configuration>