<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RecordPath" value="H:\20170319\10\5eedb3a7-76c8-49b7-bfb5-d34fc7e3b382\record.rssdk"/>
  </appSettings>
</configuration>