<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RecordPath" value="H:\\2017.3.19\\3\\data\\1aaa1907-8584-4aad-88bd-2a465d1cadf1\\record.rssdk"/>
  </appSettings>
</configuration>