<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RecordPath" value="H:\\2017.2.18(1,2,3,5,6,9,11,13,15)\\1\\SmartPlayer_Data\\9920a7ef-f416-4506-834d-bdf56727ba1d\\record.rssdk"/>
  </appSettings>
</configuration>